body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.my-container {
  min-height: 800px; /* allow minimum space */
  max-width: 100%;
  width: 450px;
  padding: 0;
  border-radius: 8px;
  border: 1px solid black;
  border-radius: 10px;
}

.h1-home {
  text-align: center;
  margin-top: 60px;
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;

}

.h2-productName{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.div-img {
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-home {
  height: 300px;
  width: 300px;
}

.div-btns-amount {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.btns-amount {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  font-size: larger;
  background-color: darkgray
}

.h3-amount {
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.h2-price {
  text-align: center;
  font-family: "Coral Pixels", serif;
  font-weight: 500;
  font-style: normal;
}

.price {
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.btn-checkout {
  height: 50px;
  width: 150px;
  border-radius: 8px;
  font-size: larger;
  background-color: darkgray;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.div-checkout {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-chekout{
  text-align: center;
  font-family: "Coral Pixels", serif;
  margin-top: 15px;
}

.div-checkout-products{
 margin-left: 15px;
}

.h2-payment-delivery{
  margin-top: 15px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.form-inputs-delivery{
  margin-left: 15px;
  margin-right: 15px;
  display: grid;
  gap: 1px;
}

.form-payment{
  margin-left: 15px;
  margin-right: 15px;
  display: grid;
  gap: 1px;
}

.div-process-payment{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-process-payment {
  height: 40px;
  width: 200px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: larger;
  background-color: darkgray;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.div-spinner{
  display:grid;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.h1-confirmation{
  text-align: center;
  margin-top: 30px;
}

.h2-confirmation-delivery{
  text-align: center;
  margin-top: 30px;
}

.p-confirmation{
  text-align: center;
}

.div-delivery-info{
  text-align: center;
  margin-left: 3px;
}

.div-spinner{
  justify-content: center;
}

.input-error {
  border: 2px solid red;
  outline: none;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}